<template>
  <div class="login-container">
    <div class='login-form'>
      <a-form-item>
        <a-input type='email' placeholder='Email'
                 v-model="email">
          <a-icon slot="prefix" type='mail' style="color: rgba(0,0,0,.25)"/>
        </a-input>
      </a-form-item>
      <a-form-item>
        <a-button type='primary'
                  class='login-form-button'
                  @click="resetPassword"
                  :loading="isLoading">
          Regénérer mon mot de passe
        </a-button>
        <a-button type='default'
                  class='login-form-button'
                  @click="() => this.$router.push('/')">
          Revenir
        </a-button>
      </a-form-item>
      <p v-if="error" style="text-align: center; color: #DB4436">{{ error }}</p>
      <p v-if="success" style="text-align: center; color: #22db14">Email envoyé</p>
    </div>
  </div>
</template>

<script>
  import {mapActions, mapGetters, mapState} from 'vuex'

  export default {
    layout: 'simple',
    data() {
      return {
        email: '',
        isLoading: false,
        error: null,
        success: false,
      }
    },
    methods: {
      ...mapActions({
        reset: 'user/resetPassword',
      }),
      resetPassword() {
        this.isLoading = true
        this.reset(this.email)
          .then(() => {
            this.success = true
            this.error = false
          })
          .catch((error) => this.error = error.message)
          .finally(() => this.isLoading = false)
      },
    },
  }
</script>

<style scoped>
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .login-form {
    width: 320px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
</style>
