<template>
  <div class="overlay">
    <div :style="{ position: 'absolute', top: '15px', left: '15px', 'z-index': 900}">
      <a-button size="large"
                type="primary"
                shape="circle"
                icon="close"
                style="background-color: #DB4436; border-color: #DB4436;"
                @click="onClose"/>
    </div>
    <a-carousel arrows dotsClass="slick-dots slick-thumb" ref="carousel">
      <a slot="customPaging" slot-scope="props">
        <TheImage :url="thumbnailsUrl[props.i]" :withLazyLoading="false"/>
      </a>
      <div @click="nextImage" v-for="imageUrl in imagesUrl">
        <TheImage :url="imageUrl" :withLazyLoading="false"/>
      </div>
    </a-carousel>
  </div>
</template>

<script>
  import TheImage from "~/components/image/Image"

  export default {
    components: {TheImage},
    props: {
      thumbnailsUrl: {
        default: () => [],
        type: Array,
        required: true,
      },
      imagesUrl: {
        default: () => [],
        type: Array,
        required: true,
      },
      onClose: {
        default: () => {},
        type: Function,
      },
    },
    methods: {
      nextImage() {
        this.$refs.carousel.next()
      }
    },
  }
</script>
<style scoped>
  .ant-carousel {
    padding-top: 65px;
  }

  .ant-carousel >>> .slick-dots {
    height: auto
  }

  .ant-carousel >>> .slick-dots {
    position:fixed;
  }

  .ant-carousel  >>> .slick-dots li {
    margin: 3px;
  }

  .ant-carousel >>> .slick-slide img {
    border: 5px solid #FFF;
    display: block;
    margin: auto;
    max-height: 77vh;
    max-width: 90%;
  }

  @media screen and (max-width: 735px) {
    .ant-carousel >>> .slick-slide img {
      max-height: 65vh;
    }
  }

  .ant-carousel >>> .slick-thumb li {
    width: 86px;
    height: 86px;
  }

  .ant-carousel >>> .slick-thumb li img {
    object-fit: cover;
    width: 86px;
    height: 86px;
    filter: grayscale(100%);
  }

  .ant-carousel >>> .slick-thumb li.slick-active img {
    filter: grayscale(0%);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
  }
</style>
