<template>
  <span>
    <div class="ant-upload-list-item ant-upload-list-item-uploading" v-if="isUploading">
      <div class="ant-upload-list-item-info">
        <div class="ant-upload-list-item-uploading-text">En cours...</div>
      </div>
      <i class="anticon anticon-close">
        <a-icon type="close"/>
      </i>
      <div class="ant-upload-list-item-progress">
        <a-progress :percent="progress" type="line" :showInfo="false" :strokeWidth="2"/>
      </div>
    </div>
    <div v-if="!isUploading"
         class="ant-upload-list-item ant-upload-list-item-done"
         :class="{ 'ant-upload-list-item-done': !hasError,  'ant-upload-list-item-error': hasError}">
      <div class="ant-upload-list-item-info">
        <img v-if="thumbnail" class="image" :src="thumbnail">
        <div v-else class="picture">
           <a-icon type="picture" :style="{ fontSize: '32px' }"/>
        </div>
      </div>
      <div class="ant-upload-list-item-actions">
        <a-icon type="delete" @click="onDelete(id)"/>
      </div>
    </div>
  </span>
</template>

<script>
  export default {
    props: {
      id: {
        default: null,
        type: String,
        required: true,
      },
      isUploading: {
        default: false,
        type: Boolean,
      },
      thumbnail: {
        default: null,
        type: String,
      },
      onDelete: {
        default: () => {
        },
        type: Function,
      },
      progress: {
        default: 0,
        type: Number,
      },
      hasError: {
        default: false,
        type: Boolean,
      },
    },
  }
</script>

<style>
  .picture {
    display: block;
    text-align: center;
  }
  .ant-upload-list-picture-card .ant-upload-list-item {
    width: 94px;
    height: 94px;
  }
  .upload-list-picture-card .ant-upload-list-item {
    padding: 6px;
  }
  .ant-upload-list-picture-card {
    float: none;
  }
</style>
