<template>
  <div v-observe-visibility="visibilityChanged">
    <div class="no-image" v-if="isLoading">
      <a-icon :style="{ fontSize: '32px' }" type="loading"/>
    </div>
    <div v-else-if="!isLoading">
      <div class="no-image" v-if="notFound">
        <a-icon :style="{ fontSize: '32px' }" type="picture"/>
      </div>
      <img :src="dataUrl" v-else/>
    </div>
  </div>
</template>

<script>
  function toDataURL(url) {
    return fetch(url)
      .then(response => response.blob())
      .then(blob => new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.onloadend = () => resolve(reader.result)
        reader.onerror = () => reject()
        reader.readAsDataURL(blob)
      }))
  }

  export default {
    props: {
      url: {
        type: String,
        required: true,
      },
      withLazyLoading: {
        type: Boolean,
        default: true
      }
    },
    data() {
      return {
        isLoading: false,
        isLoaded: false,
        notFound: false,
        dataUrl: null,
      }
    },
    mounted() {
      if (!this.withLazyLoading) {
        this.loadImage()
      }
    },
    methods: {
      visibilityChanged(isVisible) {
        if (isVisible && !this.isLoaded && this.withLazyLoading) {
          this.loadImage()
        }
      },
      loadImage() {
        this.isLoading = true
        if (!this.url) {
          this.notFound = true
          return
        }
        toDataURL(this.url)
          .then(dataUrl => this.dataUrl = dataUrl)
          .catch(() => this.notFound = true)
          .finally(() => {
            this.isLoading = false
            this.isLoaded = true
          })
      }
    },
  }
</script>

<style scoped>
  .no-image {
    padding-top: 14px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-color: #fafafa;
    display: inline-block;
    text-align: center;
    width: 78px;
    height: 78px;
    margin: 3px;
  }
</style>

