<template>
  <div>
    <div class="ant-upload-list ant-upload-list-picture-card" v-if="images.length > 0">
      <image-upload-input-item v-for="image in images" :key="image.id"
                               :id="image.id"
                               :is-uploading="image.isUploading"
                               :thumbnail="image.thumbnail"
                               :onDelete="deleteImage"
                               :has-error="image.error"
                               :progress="image.progress"/>
    </div>
    <div class="ant-upload ant-upload-select ant-upload-select-picture-card">
      <span class="ant-upload ant-upload-btn" @click="selectFile">
        <input id="files" type="file"
               name="file"
               ref="uploadInput"
               accept="image/*"
               :multiple="true"
               @change="detectFiles($event)"/>
        <div>
          <a-icon type="plus"/>
          <div class="ant-upload-text">Images</div>
        </div>
      </span>
    </div>

  </div>
</template>

<script>
  import {uuid} from 'lodash-uuid'
  import ImageUploadInputItem from "~/components/image/ImageUploadInputItem"

  function getBase64(img, orientation) {
    return new Promise(function (resolve, reject) {
      const reader = new FileReader()
      reader.addEventListener('load', () => {
        const base64 = reader.result
        if (orientation === undefined) return resolve(base64)
        resetOrientation(base64, orientation)
          .then(imgRotated => resolve(imgRotated))
          .catch(() => reject())
      })
      reader.readAsDataURL(img)
    })
  }

  function resetOrientation(srcBase64, srcOrientation) {
    return new Promise(function (resolve) {
      const img = new Image()

      img.onload = () => {
        const width = img.width
        const height = img.height
        const canvas = document.createElement('canvas')
        const ctx = canvas.getContext("2d")

        // set proper canvas dimensions before transform & export
        if (4 < srcOrientation && srcOrientation < 9) {
          canvas.width = height
          canvas.height = width
        } else {
          canvas.width = width
          canvas.height = height
        }

        // transform context before drawing image
        switch (srcOrientation) {
          case 2:
            ctx.transform(-1, 0, 0, 1, width, 0)
            break
          case 3:
            ctx.transform(-1, 0, 0, -1, width, height)
            break
          case 4:
            ctx.transform(1, 0, 0, -1, 0, height)
            break
          case 5:
            ctx.transform(0, 1, 1, 0, 0, 0)
            break
          case 6:
            ctx.transform(0, 1, -1, 0, height, 0)
            break
          case 7:
            ctx.transform(0, -1, -1, 0, height, width)
            break
          case 8:
            ctx.transform(0, -1, 1, 0, 0, width)
            break
          default:
            break
        }

        // draw image
        ctx.drawImage(img, 0, 0)

        // export base64
        resolve(canvas.toDataURL("image/jpeg"))
      }
      img.src = srcBase64
    })

  }

  function getOrientation(file) {
    return new Promise(function (resolve, reject) {
      const reader = new FileReader()
      reader.onload = (event) => {
        const view = new DataView(event.target.result)

        if (view.getUint16(0, false) != 0xFFD8) return reject(-2)

        const length = view.byteLength
        let offset = 2

        while (offset < length) {
          const marker = view.getUint16(offset, false)
          offset += 2

          if (marker == 0xFFE1) {
            if (view.getUint32(offset += 2, false) != 0x45786966) {
              return reject(-1)
            }
            const little = view.getUint16(offset += 6, false) == 0x4949
            offset += view.getUint32(offset + 4, little)
            const tags = view.getUint16(offset, little)
            offset += 2

            for (let i = 0; i < tags; i++)
              if (view.getUint16(offset + (i * 12), little) == 0x0112)
                return resolve(view.getUint16(offset + (i * 12) + 8, little))
          } else if ((marker & 0xFF00) != 0xFF00) break
          else offset += view.getUint16(offset, false)
        }
        return reject(-1)
      }
      reader.readAsArrayBuffer(file.slice(0, 64 * 1024))
    })

  }

  export default {
    components: {
      ImageUploadInputItem,
    },
    props: {
      onImagesIdAdded: {
        default: () => {},
        type: Function,
      },
      defaultImages: {
        default: () => [],
        type: Array,
      },
    },
    data() {
      return {
        images: this.defaultImages
      }
    },
    watch: {
      images(images) {
        this.onImagesIdAdded(images.filter(image => image.error === false).map(image => image.id))
      }
    },
    methods: {
      selectFile() {
        this.$refs.uploadInput.click()
      },
      detectFiles(e) {
        const fileList = e.target.files || e.dataTransfer.files
        Array.from(fileList).forEach(file => this.upload(file))
      },
      upload(file) {
        const image = {
          id: uuid(),
          thumbnail: null,
          isUploading: true,
          progress: 0,
          error: false,
        }
        this.addImage(image)
        getOrientation(file)
          .then(orientation => getBase64(file, orientation))
          .catch(() => getBase64(file))
          .then(imageBase64 => {
            image.thumbnail = imageBase64
            this.$firebase.storage()
              .ref(`${image.id}.jpeg`)
              .putString(imageBase64, 'data_url')
              .on('state_changed',
                sp => this.setProgress(image.id, Math.floor(sp.bytesTransferred / sp.totalBytes * 100)),
                () => this.error(image.id),
                () => this.uploaded(image.id))
          })
          .catch(() => this.error(image.id))
      },
      deleteImage(id) {
        this.$firebase.storage()
          .ref(`${id}.jpeg`)
          .delete()
          .finally(() => this.images.splice(this.images.findIndex(image => image.id === id), 1))
      },
      addImage(image) {
        this.images.push(image)
      },
      setProgress(id, progress) {
        const index = this.images.findIndex(image => image.id === id)
        this.images[index].progress = progress
      },
      uploaded(id) {
        const index = this.images.findIndex(image => image.id === id)
        this.images[index].isUploading = false
      },
      error(id) {
        const index = this.images.findIndex(image => image.id === id)
        this.images[index].isUploading = false
        this.images[index].error = true
      },
    },
  }
</script>

<style>
  input[type="file"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }

  .ant-upload.ant-upload-select-picture-card {
    width: 94px;
    height: 94px;
  }
</style>
