<template>
  <TheImage :url="url" class="image"/>
</template>

<script>
  import TheImage from "~/components/image/Image"

  export default {
    components: {TheImage},
    props: {
      url: {
        type: String,
        required: true,
      },
    },
  }
</script>

<style scoped>
  .image {
    display: inline-block;
  }

  .image >>> img {
    object-fit: cover;
    width: 78px;
    height: 78px;
    margin: 3px;
    cursor: pointer;
  }
</style>
