<template>
  <div class="login-container">
    <div class='login-form'>
      <a-form-item>
        <a-input type='text' placeholder='Prénom'
                 v-model="name">
          <a-icon slot="prefix" type='user' style="color: rgba(0,0,0,.25)"/>
        </a-input>
      </a-form-item>
      <a-form-item>
        <a-input type='email' placeholder='Email'
                 v-model="email">
          <a-icon slot="prefix" type='mail' style="color: rgba(0,0,0,.25)"/>
        </a-input>
      </a-form-item>
      <a-form-item>
        <a-input type='password' placeholder='Mot de passe'
                 v-model="password">
          <a-icon slot="prefix" type='lock' style="color: rgba(0,0,0,.25)"/>
        </a-input>
      </a-form-item>
      <a-form-item>
        <a-button type='primary'
                  class='login-form-button'
                  @click="registerMe(name, email, password)"
                  :loading="status === 'LOADING'">
          Inscription
        </a-button>
        <a-button type='default'
                  class='login-form-button'
                  @click="() => this.$router.push('/')">
          Revenir
        </a-button>
        <p v-if="error" style="text-align: center; color: #DB4436">{{ status }}</p>
      </a-form-item>
    </div>
  </div>
</template>

<script>
  import {mapActions, mapGetters, mapState} from 'vuex'

  export default {
    layout: 'simple',
    data() {
      return {
        name: '',
        password: '',
        email: '',
        error: false,
      }
    },
    computed: {
      ...mapState('user', {
        status: state => state.status,
      }),
    },
    methods: {
      ...mapActions({
        register: 'user/register',
        login: 'login/login',
      }),
      registerMe(name, email, password) {
        this.register({name, email, password})
          .then(() => this.$router.push('user'))
          .catch(() => this.error = true)
      }
    },
  }
</script>

<style scoped>
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .login-form {
    width: 320px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
</style>
