<template>
  <a-modal :visible="isOpen" :closable="false">
    <template slot="title">
      {{text}}
    </template>
    <a-form>
      <a-form-item>
        <a-input autoFocus type='textarea' v-model="comment" style="font-size: 16px;"/>
        <weather-summary style="float: right"
                         :icon="weatherIcon"
                         :temperature="temperature"
                         :wind-speed="windSpeed"
                         :status="weatherStatus"/>
      </a-form-item>
      <a-form-item>
        <image-upload-input :key="refresh" :onImagesIdAdded="onImagesIdAdded"/>
      </a-form-item>
    </a-form>
    <template slot="footer">
      <a-button type="primary"
                shape="circle"
                :loading="isLocaliseLoading"
                @click="localise(true)">
        <fa class="fa-sm" icon="location-arrow" v-if="!isLocaliseLoading"/>
      </a-button>
      <a-button key="back" @click="closing()">Non</a-button>
      <a-button key="submit" type="primary" @click="saveAndClose(type)">
        Commencer
      </a-button>
    </template>
  </a-modal>
</template>

<script>
  import {mapState, mapActions} from 'vuex'
  import ImageUploadInput from '~/components/image/ImageUploadInput'
  import WeatherSummary from '~/components/WeatherSummary'

  export default {
    props: {
      type: {
        default: 'default',
        type: String,
      },
      text: {
        default: 'Commencer l\'activité?',
        type: String,
      },
      isOpen: {
        default: false,
        type: Boolean,
      },
      onClose: {
        default: null,
        type: Function,
      },
    },
    components: {
      WeatherSummary,
      ImageUploadInput,
    },
    data() {
      return {
        comment: '',
        imagesId: [],
        refresh: true,
        isLocaliseLoading: false,
      }
    },
    watch: {
      isOpen(val) {
        if (val) {
          this.localise(false)
            .then(() => this.loadWeather({
              latitude: this.currentLatitude,
              longitude: this.currentLongitude,
            }))
        }
      },
    },
    computed: {
      ...mapState('position', {
        currentLatitude: state => state.latitude,
        currentLongitude: state => state.longitude,
        currentAccuracy: state => state.accuracy,
      }),
      ...mapState('weather', {
        weatherIcon: state => state.icon,
        temperature: state => state.temperature,
        windSpeed: state => state.windSpeed,
        weatherStatus: state => state.status,
      }),
    },
    methods: {
      ...mapActions({
        addPOI: 'pois/add',
        loadWeather: 'weather/load',
        getLocalisation: 'position/localise',
      }),
      saveAndClose(type) {
        this.newPOI(type).finally(() => this.closing())
      },
      newPOI(type) {
        return this.addPOI({
          type,
          createdTime: Date.now(),
          updatedTime: Date.now(),
          latitude: this.currentLatitude,
          longitude: this.currentLongitude,
          accuracy: this.currentAccuracy,
          comment: this.comment,
          imagesId: this.imagesId,
          temperature: this.temperature,
          windSpeed: this.windSpeed,
          weatherIcon: this.weatherIcon,
        })
      },
      onImagesIdAdded(imagesId) {
        this.imagesId = imagesId
      },
      localise(force) {
        return new Promise((resolve, reject) => {
          this.isLocaliseLoading = true
          this.getLocalisation(force)
            .then(() => resolve())
            .catch(() => reject())
            .finally(() => this.isLocaliseLoading = false)
        })
      },
      closing() {
        this.onClose()
        this.comment = ''
        this.imagesId = []
        this.refresh = !this.refresh
      },
    },
  }
</script>


<style scoped>
  input[type='textarea'] {
    font-size: 16px;
  }
</style>
