<template>
  <a-modal :visible="isOpen" :closable="false">
    <a-form>
      <a-form-item>
        <a-radio-group v-model="updatedPoi.type">
          <a-radio autoFocus value="start">
            <fa icon="play-circle" size="3x"/>
          </a-radio>
          <a-radio value="comment">
            <fa icon="comment" size="3x"/>
          </a-radio>
          <a-radio value="picture">
            <fa icon="camera" size="3x"/>
          </a-radio>
          <a-radio value="end">
            <fa icon="stop-circle" size="3x"/>
          </a-radio>
        </a-radio-group>
      </a-form-item>
      <a-form-item>
        <a-input type='textarea' v-model="updatedPoi.comment" style="font-size: 16px;"/>
      </a-form-item>
      <a-form-item>
        <image-upload-input :key="refresh"
                            :default-images="defaultImages"
                            :onImagesIdAdded="onImagesIdAdded"/>
      </a-form-item>
    </a-form>
    <template slot="footer">
      <a-button type="primary"
                shape="circle"
                @click="deleteAndClose"
                style="background-color: #DB4436; border-color: #DB4436; float: left;"
                icon="delete"></a-button>
      <a-button key="back" @click="onClose()">Annuler</a-button>
      <a-button key="submit" type="primary"
                @click="saveAndClose()">
        Mettre à jour
      </a-button>
    </template>
  </a-modal>
</template>

<script>
  import {mapActions} from 'vuex'
  import ImageUploadInput from '~/components/image/ImageUploadInput'

  export default {
    props: {
      poi: {
        type: Object,
        required: true,
      },
      isOpen: {
        default: false,
        type: Boolean,
      },
      onClose: {
        default: null,
        type: Function,
      },
    },
    components: {
      ImageUploadInput,
    },
    data() {
      return {
        refresh: true,
        updatedPoi: {...this.poi},
      }
    },
    computed: {
      defaultImages() {
        if (this.updatedPoi.imagesId) {
          return this.updatedPoi.imagesId.map(id => {
            return {id, error: false}
          })
        }
      }
    },
    methods: {
      ...mapActions({
        updatePOI: 'pois/update',
        deletePOI: 'pois/delete',
      }),
      saveAndClose() {
        this.updatedPoi.updatedTime = Date.now()
        this.updatePOI(this.updatedPoi).finally(() => this.onClose())
      },
      onImagesIdAdded(imagesId) {
        this.updatedPoi.imagesId = imagesId
      },
      deleteAndClose() {
        this.deletePOI(this.updatedPoi.id).finally(() => this.onClose())
      },
    },
  }
</script>


<style scoped>
  input[type='textarea'] {
    font-size: 16px;
  }
</style>
