<template>
  <div>
     <span v-if="isVisible" style="font-weight: lighter;">
      <fa :icon="icons[icon]" size="lg"/>
      <fa icon="thermometer-half"/>{{temperatureDisplay}}°
      <fa icon="wind"/>{{windSpeedDisplay}}km/h
    </span>
    <a-icon v-if="status === 'LOADING'" type="loading" style="font-weight: lighter;"/>
  </div>
</template>
<script>
  export default {
    props: {
      icon: {
        default: null,
        type: String,
      },
      temperature: {
        default: null,
        type: Number,
      },
      windSpeed: {
        default: null,
        type: Number,
      },
      status: {
        default: null,
        type: String,
      },
    },
    data() {
      return {
        icons: {
          'clear-day': 'sun',
          'clear-night': 'moon',
          'rain': 'cloud-showers-heavy',
          'snow': 'cloud-meatball',
          'sleet': 'cloud-showers-heavy',
          'wind': 'wind',
          'fog': 'cloud',
          'cloudy': 'cloud',
          'partly-cloudy-day': 'cloud-sun',
          'partly-cloudy-night': 'cloud-moon',
        }
      }
    },
    computed: {
      temperatureDisplay() {
        return Math.floor(this.temperature)
      },
      windSpeedDisplay() {
        return Math.floor(this.windSpeed)
      },
      isVisible() {
        return (this.status === 'SUCCESS' || this.status === null)
          && this.icon !== null
          && this.temperature !== null
          && this.windSpeed !== null
      }
    }
  }
</script>

<style scoped>
  svg {
    margin-right: 2px;
  }
</style>
