<template>
  <div style="background: #f0f2f5;">
    <a-row>
      <a-col :md="24" style="padding: 20px;">
        <a-card :bordered=false>
          <a-card-meta :title="name">
            <div slot="description" style="min-height: 80px">
            </div>
          </a-card-meta>
          <template class="ant-card-actions" slot="actions">
            <div @click="() => this.isCreateModalJourneyOpen = true">
              <fa-layers>
                <fa icon="circle"/>
                <fa :style="{ color: 'white' }" icon="plus" transform="shrink-6"/>
              </fa-layers>
              Ajouter un voyage
            </div>
          </template>
          <CreateJourneyModal :is-open="isCreateModalJourneyOpen" :userId="userId"
                              :on-close="() => this.isCreateModalJourneyOpen = false"/>
        </a-card>
      </a-col>
    </a-row>
    <a-row>
      <a-col :md="24" style="padding: 20px;">
        <a-card :bordered=false>
          <JourneyList :userId="userId"/>
        </a-card>
      </a-col>
    </a-row>
  </div>
</template>


<script>
  import {mapState} from 'vuex'
  import JourneyList from "~/components/journey/JourneyList"
  import CreateJourneyModal from "~/components/journey/CreateJourneyModal"

  export default {
    components: {CreateJourneyModal, JourneyList},
    middleware: 'logged',
    data() {
      return {
        isCreateModalJourneyOpen: false,
      }
    },
    computed: {
      ...mapState('user', {
        userId: state => state.id,
        name: state => state.name,
      }),
    },
  }
</script>

<style>
  .ant-modal-footer {
    border-top: 0;
  }
</style>
