<template>
  <div v-if="imagesId.length > 0">
    <image-carousel v-if="isCarouselOpen"
                    :imagesUrl="imagesUrl"
                    :thumbnailsUrl="thumbnailsUrl"
                    :onClose="closeCarousel"/>
    <div @click="openCarousel">
      <Thumbnail :key="thumbnailUrl" :url="thumbnailUrl" v-for="thumbnailUrl in thumbnailsUrl"/>
    </div>
  </div>
</template>

<script>
  import ImageCarousel from "~/components/image/ImageCarousel"
  import Thumbnail from "~/components/image/Thumbnail"

  function retry(fn, retriesLeft = 14, interval = 1000) {
    return new Promise((resolve, reject) => {
      fn()
        .then(resolve)
        .catch((error) => {
          setTimeout(() => {
            if (retriesLeft === 1) {
              reject(error)
              return
            }
            retry(fn, retriesLeft - 1, Math.min(interval * 1.5, 10000)).then(resolve, reject)
          }, interval)
        })
    })
  }

  export default {
    components: {
      Thumbnail,
      ImageCarousel,
    },
    props: {
      imagesId: {
        default: () => [],
        type: Array,
      },
      previewImage: {
        default: true,
        type: Boolean,
      },
    },
    data() {
      return {
        isCarouselOpen: false,
        thumbnailsUrl: [],
        imagesUrl: [],
      }
    },
    watch: {
      imagesId(val, old) {
        if (!this.imagesId) return
        if (val === old) return
        this.load(val)
      }
    },
    created() {
      this.load(this.imagesId)
    },
    methods: {
      load(imagesId) {
        if (!imagesId) return
        imagesId.forEach(id => {
          retry(() => this.$firebase.storage().ref('thumbs/' + id + '_86_thumb.jpeg').getDownloadURL())
            .then(url => this.thumbnailsUrl.push(url))
          retry(() => this.$firebase.storage().ref('thumbs/' + id + '_800_thumb.jpeg').getDownloadURL())
            .then(url => this.imagesUrl.push(url))
        })
      },
      closeCarousel() {
        this.isCarouselOpen = false
      },
      openCarousel() {
        if (!this.previewImage) return
        this.isCarouselOpen = true
      },
    },
  }
</script>
