<template>
  <a-timeline-item style="padding-left: 4px">
    <fa :icon="icons[poi.type]" @click="openUpdatePOIModal" slot="dot"
        style="cursor: pointer; color: rgb(219, 68, 54); font-size: 22px"/>
    <span v-if="poi.type === 'start'">Début du voyage</span>
    <span v-else-if="poi.type === 'end'">Fin de la randonnée</span>
    <span v-else-if="poi.type === 'comment'">Commentaire</span>
    <span v-else-if="poi.type === 'picture'">Commentaire</span>
    {{ poi.createdTime | moment('from', 'now') }}
    <div style="text-align: center" v-if="poi.comment">
      <span style="font-weight: bold">{{poi.comment}}</span>
    </div>
    <timeline-item-image style="text-align: right" :images-id="poi.imagesId"/>
    <div style="font-size: 11px; margin-right: 3px">
        <span style="float: left;">
           <weather-summary :icon="poi.weatherIcon"
                            :temperature="poi.temperature"
                            :wind-speed="poi.windSpeed"/>
        </span>
      <span style="float: right;">{{ poi.createdTime | moment('dddd D MMMM à H:mm') }}</span>
    </div>
    <UpdatePoiModal :is-open="updatePoiModal"
                    :on-close="() => this.updatePoiModal = false"
                    :poi="poi"/>
  </a-timeline-item>
</template>

<script>
  import {mapActions} from 'vuex'
  import ImageCarousel from '~/components/image/ImageCarousel'
  import TimelineItemImage from '~/components/timeline/TimelineItemImage'
  import WeatherSummary from '~/components/WeatherSummary'
  import UpdatePoiModal from '~/components/poi/UpdatePoiModal'

  export default {
    components: {
      UpdatePoiModal,
      WeatherSummary,
      TimelineItemImage,
      ImageCarousel,
    },
    props: {
      poi: {
        default: null,
        type: Object,
      },
      isEditable: {
        default: false,
        type: Boolean,
      },
    },
    data() {
      return {
        icons: {
          start: 'play-circle',
          comment: 'comment',
          picture: 'camera',
          end: 'stop-circle',
        },
        updatePoiModal: false,
      }
    },
    methods: {
      ...mapActions({
        updatePOI: 'history/updatePOI',
      }),
      openUpdatePOIModal() {
        if (this.isEditable === true) {
          this.updatePoiModal = true
        }
      },
    },
  }
</script>
