<template>
  <p style="text-align: center" v-if="isLoading">
    <a-icon :style="{ fontSize: '32px' }" type="loading"/>
  </p>
  <p style="text-align: center" v-else-if="pois.length === 0">
    <fa icon="hiking" size="3x" v-if="type === 'hiking'"/>
    <fa icon="road" size="3x" v-else-if="type === 'roadtrip'"/>
    <fa icon="globe-europe" size="3x" v-else/>
    <br>
    Le voyage n'a pas commencé
  </p>
  <a-timeline :reverse="true" v-else>
    <timeline-item :isEditable="isEditable" :key="poi.id"
                   :poi="poi"
                   v-for="poi in pois"/>
  </a-timeline>
</template>

<script>
  import TimelineItem from "~/components/timeline/TimelineItem"

  export default {
    components: {
      TimelineItem,
    },
    props: {
      pois: {
        default: () => [],
        type: Array,
        required: true,
      },
      type: {
        default: 'travel',
        type: String,
      },
      isEditable: {
        default: false,
        type: Boolean,
      },
    },

    computed: {
      isLoading() {
      }
    }

  }
</script>
