<template>
  <a-modal :closable="false" :visible="isOpen">
    <template slot="title">
      <fa icon="globe-europe"/>
      Ajouter un voyage
    </template>
    <a-form>
      <a-form-item>
        <a-radio-group v-model="type">
          <a-radio autoFocus value="travel">
            <fa icon="globe-europe" size="3x"/>
          </a-radio>
          <a-radio value="hiking">
            <fa icon="hiking" size="3x"/>
          </a-radio>
          <a-radio value="roadtrip">
            <fa icon="road" size="3x"/>
          </a-radio>
        </a-radio-group>
      </a-form-item>
      <a-form-item>
        <a-input autoFocus style="font-size: 16px;" type='text' v-model="name"/>
      </a-form-item>
      <a-form-item>
        <a-input style="font-size: 16px;" type='textarea' v-model="description"/>
      </a-form-item>
    </a-form>
    <template slot="footer">
      <a-button @click="closing()" key="back">Annuler</a-button>
      <a-button :loading="isLoading" @click="saveAndClose(type, name, description)" key="submit" type="primary">
        Ajouter
      </a-button>
    </template>
  </a-modal>
</template>

<script>
  import {mapState, mapActions} from 'vuex'

  export default {
    props: {
      userId: {
        type: String,
        required: true,
      },
      isOpen: {
        default: false,
        type: Boolean,
      },
      onClose: {
        default: null,
        type: Function,
      },
    },
    data() {
      return {
        type: "",
        name: "",
        description: "",
        isLoading: false,
      }
    },
    methods: {
      ...mapActions({
        addJourney: 'journeys/add',
      }),
      saveAndClose(type, name, description) {
        this.isLoading = true
        this.newJourney(type, name, description).finally(() => {
          this.isLoading = false
          this.closing()
        })
      },
      newJourney(type, name, description) {
        return this.addJourney({
          member: this.userId,
          type,
          name,
          description,
          createdTime: Date.now(),
          updatedTime: Date.now(),
        })
      },
      closing() {
        this.onClose()
        this.name = ""
        this.description = ""
      }
    },
  }
</script>
