<template>
  <p style="text-align: center" v-if="isLoading">
    <a-icon :style="{ fontSize: '32px' }" type="loading"/>
  </p>
  <p style="text-align: center" v-else-if="journeys.length === 0">
    <fa icon="globe-europe" size="3x"/>
    <br>
    Vous n'avez aucun voyage
  </p>
  <a-list v-else>
    <JourneyListItem :journey="journey" :key="journey.id" :on-delete="deleteJourney" :userId="userId"
                     v-for="journey in journeys"/>
  </a-list>
</template>
<script>
  import {mapState, mapActions} from 'vuex'
  import JourneyListItem from "~/components/journey/JourneyListItem"

  export default {
    components: {JourneyListItem},
    props: {
      userId: {
        default: null,
        type: String,
        required: true,
      },
    },
    data() {
      return {
        isLoading: false,
      }
    },
    created() {
      this.isLoading = true
      this.initJourney(this.userId)
        .finally(() => this.isLoading = false)
    },
    computed: {
      ...mapState('journeys', {
        journeys: state => [...state.journeys].reverse(),
      }),
    },
    methods: {
      ...mapActions({
        deleteJourney: 'journeys/delete',
        initJourney: 'journeys/init'
      }),
    }
  }
</script>
