<template>
  <a-list-item>
    <a-icon slot="actions" v-if="isLoading" type="loading"/>
    <a-icon @click="() => deleteItem(journey.id)" slot="actions" type="delete" v-else/>
    <a-list-item-meta @click="goToJourney(userId, journey.id)">
      <a-avatar shape="square" size="large" slot="avatar"
                style="color: rgba(0, 0, 0, 0.65); background-color: #ffff" v-if="journey.type === 'hiking'">
        <fa icon="hiking" size="3x"/>
      </a-avatar>
      <a-avatar shape="square" size="large" slot="avatar"
                style="color: rgba(0, 0, 0, 0.65); background-color: #ffff" v-else-if="journey.type === 'roadtrip'">
        <fa icon="road" size="3x"/>
      </a-avatar>
      <a-avatar shape="square" size="large" slot="avatar" style="color: rgba(0, 0, 0, 0.65); background-color: #ffff"
                v-else>
        <fa icon="globe-europe" size="3x"/>
      </a-avatar>
      <p slot="description">{{journey.description}}</p>
      <div slot="title">{{journey.name}}</div>
    </a-list-item-meta>
  </a-list-item>
</template>

<script>
  export default {
    props: {
      journey: {
        default: {},
        type: Object,
        required: true,
      },
      userId: {
        type: String,
        required: true,
      },
      onDelete: {
        default: (journeyId) => {
        },
        type: Function,
      },
    },
    data() {
      return {
        isLoading: false,
      }
    },
    methods: {
      goToJourney(userId, journeyId) {
        this.$router.push(`/journeys/${journeyId}/edit`)
      },
      deleteItem(id) {
        this.isLoading = true
        this.onDelete(id).finally(() => this.isLoading = false)
      }
    },
  }
</script>

<style scoped>
  .ant-list-item-meta {
    cursor: pointer;
  }
</style>
