<template>
  <a-layout style="height: 100%;">
    <div :style="{ position: 'absolute', top: '15px', right: '15px', 'z-index': 900}">
      <a-button @click="logoutAndRedirect"
                icon="logout"
                shape="circle"
                size="large"
                style="background-color: #DB4436; border-color: #DB4436;"
                type="primary"
                v-if="isLogged"/>
      <a-button @click="login" icon="login"
                shape="circle"
                size="large"
                slot="content"
                type="primary"
                v-else/>
    </div>
    <nuxt-link :style="{ position: 'absolute', top: '15px', right: '60px', 'z-index': 900}" to="/user" v-if="isLogged">
      <a-button @click=""
                icon="home"
                shape="circle"
                size="large"
                type="primary"/>
    </nuxt-link>
    <a-layout-content>
      <nuxt/>
    </a-layout-content>
  </a-layout>
</template>

<script>
  import {mapState, mapActions} from 'vuex'

  export default {
    computed: {
      ...mapState('login', {
        isLogged: state => state.isLogged,
      }),
    },
    methods: {
      ...mapActions({
        logout: 'login/logout',
      }),
      logoutAndRedirect() {
        this.logout()
        this.$router.push('/')
      },
      login() {
        this.$router.push('/')
      },
    },
  }
</script>

<style>
  #__nuxt {
    height: 100%;
  }

  #__layout {
    height: 100%;
  }

</style>
