<template>
  <a-layout style="height: 100%;">
    <a-layout-content>
      <nuxt/>
    </a-layout-content>
  </a-layout>
</template>

<style>
  #__nuxt {
    height: 100%;
  }

  #__layout {
    height: 100%;
  }

</style>
