<template>
  <div class="login-container">
    <h1>Page not found ;(</h1>
  </div>
</template>

<script>

  export default {
    layout: 'simple',
  }
</script>

<style scoped>
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 320px;
  }
</style>
