<template>
  <a-spin :spinning="!isPoisInit">
    <a-row>
      <a-col :md="24">
        <Map :isEditable="true"
             :pois="pois"
             :journeyId="journeyId"
             height="40vh"/>
      </a-col>
      <a-col :md="24" style="padding: 20px;">
        <a-card :bordered=false>
          <a-card-meta>
            <div slot="title">{{journey.name}}</div>
            <div slot="description" style="min-height: 80px">{{journey.description}}</div>

            <a-avatar shape="square" size="large" slot="avatar"
                      style="color: rgba(0, 0, 0, 0.65); background-color: #ffff" v-if="journey.type === 'hiking'">
              <fa icon="hiking" size="3x"/>
            </a-avatar>
            <a-avatar shape="square" size="large" slot="avatar"
                      style="color: rgba(0, 0, 0, 0.65); background-color: #ffff"
                      v-else-if="journey.type === 'roadtrip'">
              <fa icon="road" size="3x"/>
            </a-avatar>
            <a-avatar shape="square" size="large" slot="avatar"
                      style="color: rgba(0, 0, 0, 0.65); background-color: #ffff"
                      v-else>
              <fa icon="globe-europe" size="3x"/>
            </a-avatar>
          </a-card-meta>
          <template class="ant-card-actions" slot="actions">
            <fa @click="() => this.startModal = true" icon="play-circle" size="2x" style="color: rgba(0, 0, 0, 0.65)"/>
            <fa @click="() => this.commentModal = true" icon="comment" size="2x" style="color: rgba(0, 0, 0, 0.65)"/>
            <fa @click="() => this.pictureModal = true" icon="camera" size="2x" style="color: rgba(0, 0, 0, 0.65)"/>
            <fa @click="() => this.endModal = true" icon="stop-circle" size="2x" style="color: rgba(0, 0, 0, 0.65)"/>
            <a :href="shareLink()" style="color: rgba(0, 0, 0, 0.65)">
              <fa icon="share-square" size="2x"/>
            </a>
          </template>
          <CreatePoiModal :is-open="startModal"
                          :on-close="() => this.startModal = false"
                          text="Commencer le voyage?"
                          type="start"/>
          <CreatePoiModal :is-open="commentModal"
                          :on-close="() => this.commentModal = false"
                          text="Ajouter un commentaire"
                          type="comment"/>
          <CreatePoiModal :is-open="pictureModal"
                          :on-close="() => this.pictureModal = false"
                          text="Ajouter des photos"
                          type="picture"/>
          <CreatePoiModal :is-open="endModal"
                          :on-close="() => this.endModal = false"
                          text="Finir le voyage"
                          type="end"/>
        </a-card>
      </a-col>
      <a-col :md="24" style="padding: 20px; background-color: #f0f2f5;">
        <a-card :bordered=false>
          <a-card-meta>
            <div slot="description" style="padding: 6px">
              <Timeline :isEditable="true" :pois="pois" v-if="isPoisInit"/>
            </div>
          </a-card-meta>
        </a-card>
      </a-col>
    </a-row>
  </a-spin>
</template>

<script>
  import {mapState, mapActions, mapGetters} from 'vuex'
  import Map from '~/components/Map'
  import Timeline from '~/components/timeline/Timeline'
  import CreatePoiModal from '~/components/poi/CreatePoiModal'

  export default {
    middleware: 'logged',
    components: {
      CreatePoiModal,
      Timeline,
      Map,
    },
    data() {
      return {
        startModal: false,
        commentModal: false,
        pictureModal: false,
        endModal: false,
        isLocaliseLoading: false,
        isPoisInit: false,
        journeyId: null,
      }
    },
    created() {
      this.isPoisInit = false
      this.journeyId = $nuxt.$route.params.id
      this.initJourney(this.journeyId)
        .then(() => this.initPois(this.journeyId))
        .finally(() => this.isPoisInit = true)
    },
    computed: {
      ...mapState('pois', {
        pois: state => state.pois,
      }),
      ...mapState('journey', {
        journey: state => state.journey,
      }),
    },
    methods: {
      ...mapActions({
        initPois: 'pois/init',
        initJourney: 'journey/init',
      }),
      shareLink() {
        return 'mailto:' + '?subject=' + encodeURIComponent('Suivez moi!') + '&body=' + encodeURIComponent(`Rendez vous http://follow-me.mottet.me/journeys/${this.journeyId}/public`)
      },
    },
  }
</script>
