<template>
  <div class="login-container">
    <div @keyup.enter="authenticateAndRedirect" class='login-form'>
      <a-form-item>
        <a-input type='email' placeholder='Email'
                 style="font-size: 16px;"
                 v-model="email">
          <a-icon slot="prefix" type='user' style="color: rgba(0,0,0,.25)"/>
        </a-input>
      </a-form-item>
      <a-form-item>
        <a-input type='password' placeholder='Mot de passe'
                 style="font-size: 16px;"
                 v-model="password">
          <a-icon slot="prefix" type='lock' style="color: rgba(0,0,0,.25)"/>
        </a-input>
      </a-form-item>
      <a-form-item>
        <nuxt-link class='login-form-forgot' to='reset-password'>Mot de passe oublié</nuxt-link>
        <a-button type='primary'
                  class='login-form-button'
                  @click="authenticateAndRedirect"
                  :loading="isLoading">
          Connexion
        </a-button>
        <p v-if="error" style="text-align: center; color: #DB4436">Erreur dans l'email ou le mot de passe</p>
        Ou
        <nuxt-link to="register">s'inscrire</nuxt-link>
      </a-form-item>
    </div>
  </div>
</template>

<script>
  import {mapActions, mapGetters, mapState} from 'vuex'

  export default {
    layout: 'simple',
    data() {
      return {
        password: '',
        email: '',
        error: false,
        isLoading: false,
      }
    },
    created() {
      this.autoAuth()
    },
    computed: {
      ...mapState('login', {
        loginStatus: state => state.status,
        isLogged: state => state.isLogged,
      }),
    },
    methods: {
      ...mapActions({
        login: 'login/login',
      }),
      autoAuth() {
        if (this.isLogged) {
          return this.$router.push('user')
        }
      },
      authenticateAndRedirect() {
        this.isLoading = true
        this.login({password: this.password, email: this.email})
          .then(() => this.$router.push({path: `/user`}))
          .catch(() => this.error = true)
          .finally(() => this.isLoading = false)
      },
    },
  }
</script>

<style scoped>
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .login-form {
    width: 320px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
</style>
