<template>
  <a-spin :spinning="!isPoisInit">
    <a-row class="small-screen" v-if="isMobile">
      <a-col :span="24">
        <Map :isEditable="false"
             :pois="pois"
             :journeyId="journeyId"
             height="45vh"/>
      </a-col>
      <a-col :span="24" class="timeline">
        <a-card :bordered=false>
          <a-card-meta>
            <div slot="description" style="padding: 6px">
              <Timeline :isEditable="false" :pois="pois" :type="journey.type"/>
            </div>
          </a-card-meta>
        </a-card>
      </a-col>
    </a-row>
    <a-row class="big-screen" v-if="!isMobile">
      <a-col :lg="{ span: 12 }" :md="{ span: 12 }">
        <Map :isEditable="false"
             :pois="pois"
             :journeyId="journeyId"
             height="100vh"/>
      </a-col>
      <a-col :lg="{ span: 12 }" :md="{ span: 12 }" class="timeline">
        <a-card :bordered=false>
          <a-card-meta>
            <div slot="description" style="padding: 6px">
              <Timeline :isEditable="false" :pois="pois" :type="journey.type"/>
            </div>
          </a-card-meta>
        </a-card>
      </a-col>
    </a-row>
  </a-spin>
</template>

<script>
  import {mapState, mapActions, mapGetters} from 'vuex'
  import Map from '~/components/Map'
  import Timeline from '~/components/timeline/Timeline'

  export default {
    layout: 'simple',
    components: {
      Timeline,
      Map,
    },
    data() {
      return {
        journey: {},
        startModal: false,
        commentModal: false,
        pictureModal: false,
        endModal: false,
        isLocaliseLoading: false,
        isPoisInit: false,
        journeyId: null,
        width: 0,
      }
    },
    created() {
      window.addEventListener('resize', this.handleResize)
      this.handleResize()
      this.isPoisInit = false
      this.journeyId = $nuxt.$route.params.id
      this.initJourney(this.journeyId)
        .then(() => this.initPois(this.journeyId))
        .finally(() => this.isPoisInit = true)
    },
    destroyed() {
      window.removeEventListener('resize', this.handleResize)
    },
    computed: {
      ...mapState('pois', {
        pois: state => state.pois,
      }),
      isMobile() {
        return this.width < 1025
      },
    },
    methods: {
      ...mapActions({
        initPois: 'pois/init',
        initJourney: 'journey/init',
      }),
      handleResize() {
        this.width = window.innerWidth
      },
    },
  }
</script>

<style scoped>
  .small-screen > .timeline {
    background-color: #ffffff;
    height: 55vh;
    overflow-y: scroll;
  }

  .big-screen > .timeline {
    height: 100vh;
    overflow-y: scroll;
    background-color: #ffffff;
  }
</style>
